html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #F5F5F1;
  font-family: 'Dosis', Arial, sans-serif; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

fieldset {
  max-width: 60%;
  margin: 0px auto;
  border: 2px lightgrey solid;
  border-radius: 10px; }

input[type="text"], input[type="tel"], select {
  width: 250px;
  font-size: 100%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin-bottom: 10px; }
  input[type="text"]:hover, input[type="tel"]:hover, select:hover {
    background-color: white;
    border: 1px solid #2AA490; }

.contacts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  display: block;
  margin-top: 20px; }
  .contacts:last-child {
    margin-right: 0; }
  .contacts .contact {
    border: 2px solid #92bfbf;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px; }
    .contacts .contact span.contact {
      float: right;
      color: white;
      margin-top: 10px;
      padding: 2px 5px;
      border-radius: 5px; }
