@import "app/sass/vendor/bourbon/bourbon";
@import "app/sass/vendor/neat/neat";

body {
  background-color: #F5F5F1;
  font-family: 'Dosis', Arial, sans-serif;
}

.container {
  @include outer-container();
  width: 980px;
}

fieldset {
  @include span-columns(2.75);
  border: 2px lightgrey solid;
  border-radius: 10px;
}

// label {
//   float: left;
//   width: 160px;
//   clear: right;
// }

input[type="text"], input[type="tel"], select {
  width: 250px;
  font-size: 100%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin-bottom: 10px;

  &:hover {
    background-color: white;
    border: 1px solid #2AA490;
  }
}

#contacts {
  @include span-columns(8.25);

  .contact {
    border: 2px solid #92BFBF;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    list-style: none;

    a {
      text-decoration: none;
      color: #92BFBF;

      &:hover {
        text-decoration: underline;
        color: #66D9EF;
      }
    }

    span.contact {
      float: right;
      color: white;
      margin-top: 10px;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
}

#saveContact {
  display: inline-block;
}

#reset {
  display: inline-block;
}
